body{
    font-family: 'Lato', sans-serif;
}
.flexible{
    display: flex;
    width: 1150px;
    margin:auto;
}
h1{font-size: 50px;}
h2{font-size: 35px;
font-weight: bold;}

p{font-size: 17px;
    text-align: justify;}
.div-half{
    width: 50%;
    margin-bottom: 60px;
}
.first-sec-pic {
    width: 76%;
    padding-left: 80px;
}
.line-design{
    border-left: 5px solid;
    border-image: linear-gradient(red, #9f890c);
    border-image-slice: 1;
    padding-left: 10px;
    margin-top: 150px;
}
span{color:cornflowerblue}
.sec1-div1st-half p {width: 500px; 
    margin-bottom: 40px;
    }
a {
    text-decoration: none;
    color: black;
    background-color: rgb(22, 144, 153);
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 15px;
    color: white;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 15px;    
}
.flexible{display: flex;}



.send-sec-hed{text-align: center;}
.comn-div {
    width: 33.33%;
    padding: 45px 40px;
    margin-right: 20px;
    background-color: rgb(241, 208, 214);
    border-radius: 25px;
    margin-bottom: 60px;
}

.comn-div img {width: 40%;
padding-left: 5px;}
#clor-2{background-color: powderblue;}
#clor-3{background-color: rgb(224, 226, 194);}



.sec1-div1st-half h2{
    margin-top: 100px;
}


.porject-pic {
    width: 59%;
    padding-left: 31%;
    margin-bottom: 60px;
}


footer{background-color: black;
    color: white;
    padding: 25px 0px;
    text-align: center;}
footer p{color: rgb(228, 215, 215);
display: inline-block;}

footer h2{
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;
    font-family: 'Lobster', cursive;}

footer span {
    color: tomato;
}    